header{
    max-height: 70px;
    background-color: #f8f9fa;
}

.page-container{
    height: calc( 100vh - 70px);
    display: flex;
}
aside{
    width: 200px;
    background-color: #0f273d;
    height: 100%;
    flex-shrink: 0;
}

main{
    max-width: calc(100% - 250px);
    overflow-y: auto;
    flex-grow: 1;
}

/* TYPO */

*{
    font-family: 'Roboto', sans-serif;
}

 /* DEBUG */

/* .border-debug{
    border: 1px dashed black;
}

.grey-debug{
    background-color: grey;
} */


li{
    list-style: none;
    padding: 0;
}

.logo-desktop img{
    height: 100%;
}

.logo-mobile{
    text-align: center;
}
.logo-mobile img{
    max-width: 50px;
    
}

.ms-trasp-btn{
    background-color: transparent;
    border:none;
    
}

.ring-color-alert{
    color: #ff8f00;
}

.aside-menu li{
    color: white;
}

.aside-menu a{
    color: white;
    text-decoration: none;
}

.asimmetric-icon{
    margin-left: 2px;
}

.aside-padding{
    padding-left: 32px;
}

.ms-mp-reset{
    margin: 0;
    padding: 0;
}