header{
    height: 70px;
    background-color: #f8f9fa;
}

.page-container{
    height: calc(100vh - 70px);
    display: flex;
}
aside{
    width: 200px;
    background-color: #0f273d;
    height: 100%;
    flex-shrink: 0;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

main{
    max-width: calc(100% - 200px);
    max-height: calc(100% -70px);
    overflow-y: auto;
    flex-grow: 1;
}

/* TYPO */

*{
    font-family: 'Roboto', sans-serif;
}

 /* DEBUG */

/* .border-debug{
    border: 1px dashed black;
}

.grey-debug{
    background-color: grey;
} */


li{
    list-style: none;
    padding: 0;
}

.logo-desktop img{
    height: 100%;
}

.logo-mobile{
    text-align: center;
}
.logo-mobile img{
    max-width: 50px;
    
}

.ms-trasp-btn{
    background-color: transparent;
    border:none;
    
}

.header-color-primary i{
    color: grey;
}
.ring-color-alert{
    color: #ff8f00;
}

.aside-menu li{
    color: white;
}

.aside-menu a{
    color: white;
    text-decoration: none;
}

.asimmetric-icon{
    margin-left: 2px;
}

.aside-padding{
    padding-left: 32px;
}

.ms-mp-reset{
    margin: 0;
    padding: 0;
}

.ms-btn-badge{
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
    background-color: #185bb9;
    vertical-align: middle;
}

.ms-header-height{
    height: 70px;
}

.card-body img{
    width: 100%;
}

.ms-width-100{
    width: 100%;
}

.aside-menu li{
    cursor: pointer;
}
.aside-menu li:not(:last-child):hover{
    background-color: #1c71e8;
    padding: 5px;
    
}

.admin-text:hover{
    color: #ff8f00;
    
}

@media screen and (max-width: 1200px) {
    aside{
        width: 70px;
       
    }

    main{
        max-width: calc(100% - 70px);
    }

    .aside-menu a{
        display: none;
    }
}

